.main-content{
    margin-top:80px;
    height:500px;
    background-color:red;

}

@media (min-width: 1600px) {
    .container{
        min-width: 1400px;
    }
}

@media only screen and (min-width: 1200px) {
    html,body{
        font-size:20px;
    }
}