@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato&display=swap');

html, body{
    font-size:16px;
    font-family: 'Lato', sans-serif;
    color: #1A237E;
    line-height: 20px;
}

#background{
    position:fixed;
    width:100%;
    height:100vh;
    z-index:-1;
    background: radial-gradient(96.53% 54.31% at 96.53% 10.16%, #BCEAFF 0%, #EFE4FF 100%)
}

#left-circle{
    position: absolute;
    right: 62%;
    top: 10%;
    transform: rotate(-51.9deg);
}

#right-circle{
    position: absolute;
    left: 60%;
    top: 30%;
    transform: rotate(180deg);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Kanit', sans-serif;
}

h2{
    text-align: center;
    color: #1A237E;
}

.main-content h2{
    padding-bottom: 20px;
}

#projects h2,
#projects h5,
#projects h6{
    color:#5C6BC0;
}
#project-1-modal h3,
#project-1-modal button{
    color: #ffc400;
}

#project-2-modal h3,
#project-2-modal button{
    color: #689f38;
}

#project-3-modal h3{
    color: #ff4081;
}

#project-4-modal h3{
    color: #888dff;
}

.btn-primary{
    border: 1px solid #689f38;
    background-color: #689f38;
}

.btn-primary:hover{
    border: 1px solid #689f38;
    background-color: #689f38;
}

.btn a{
    color: white;
    text-decoration: none;
}

.modal h3{
    text-align: center;
    color: #ffc400;
    padding: 40px 0 10px 0;
}

.modal h4{
    text-align: center;
    color: #616161;
    padding: 10px 0 10px 0;
}

.content{
    padding-top:110px;
}

.main-content{
    padding: 50px 0px 0px 0px;
}

#home .bg{
    background-image: url('../imgs/home/bgsmall.jpg');
    background-position: center;
    box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
    border-radius: 13px;
}

.blurred-panel-green{
    box-sizing: border-box;
    background: linear-gradient(110.12deg, rgba(255, 255, 255, 0.04) -1.18%, rgba(212, 255, 119, 0.4) 47.37%, rgba(255, 255, 255, 0.04) 100.67%);
    box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 13px;
    border: 1px solid #ffffff;
}

.blurred-panel-yellow{
    box-sizing: border-box;
    background: linear-gradient(278.38deg, rgba(255, 255, 255, 0) 0.75%, rgba(255, 255, 138, 0.4) 31.49%, rgba(255, 255, 255, 0.04) 99.34%);
    box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 13px;
    border: 1px solid #ffffff;
}

.test{
    width: content-width;
}
.main-content > div{
    padding: 50px 60px 70px 60px;
}

.row{
    margin: 0px;
}
#projects .row > div{
    padding: 30px;
}

.card{
    width: 100%;
    left: 50%;
    height: 500px;
    transform: translateX(-50%);
    box-sizing: border-box;
    background: rgba(248, 255, 232, 0.05);
    box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 24px;
    border: 1px solid #ffffff;
}

.card:hover .img-frame img{
    transform: scale(1.1);
}

.text-frame{
    padding: 0px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-frame h5{
    padding: 0;
    margin: 0;
}

.img-frame{
    width:100%;
    height: 0;
    padding-bottom: 400px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 0px 0px 24px 24px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.img-frame img{
    width:100%;
    height: 400px;
    object-fit: cover;
    margin-bottom:15px;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
    transition: all 0.5s;
}

.card-link{
    color: #000000;
    text-decoration: none;
}

.card-link:hover{
    color:#000000;
    background: transparent;
    cursor:pointer;
}

.navbar{
    top: 50px;
    padding: 0 20px 0 20px;
}

.footer{
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar{
    box-sizing: border-box;
    height: 60px;
    background-image: url('../imgs/home/nav.png');
    background-position: center;
    box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 13px;
    padding: 0 20px 0 20px;
}

#navbar .nav-link, .navbar-brand{
    color: #1A237E;
}

.detail-block{
    position: relative;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

.modal-display{
    padding: 30px 0 0 0;
    text-align: center;
}

#project-3-modal .modal-display{
    padding: 30px 15px 0 15px;
    text-align: center;
}

#project-3-modal .modal-display img{
    opacity: 0;
    transition: all 0.6s;
}

.fade_in{
    opacity: 0;
    transition: all 0.6s;
}

#project-4-modal .modal-display{
    padding: 15px;
    text-align: center;
    height: auto;
}

#project-4-modal .modal-display img{
    height: 100%;
    object-fit: cover;
}



.modal-display img{
    width: 100%;
    height: auto;
}

.col-lg-6 .modal-display video{
    width: 100%;
    height: auto;
    border-radius: 36px;
}

.col-lg-12 .modal-display video{
    width: 70%;
    height: auto;
    border-radius: 36px;
}

.modal-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
}

.fixed-position{
    position:fixed;
}

.d-inline-block{
    vertical-align: top;
    margin-top:20px;
}

.modal-center-content{
    padding: 0px 60px 60px 60px;
}

.modal-left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 15px 0 15px;
}

.modal-right-panel{
    position: sticky;
    position: -webkit-sticky;
    top: -20px;
    height: 100vh;
}

.modal-right-content{
    position: absolute;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
    object-fit: scale;
    padding: 0 15px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content-mobile{
    display: none;
}
.modal-right-content img{
    height: 100%;
}

.modal-dialog,
.modal-content,
.modal-body{
    background-color: transparent;
}

.modal-body > .container{
    background-color: #ffffff;
    padding: 40px;
}

.modal h2{
    padding: 20px;
}

.modal-body > .container > .row{
    position: relative;
}
.modal-body > .container > .row{
    padding: 0px 0 30px 0;
}

.loading{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: radial-gradient(96.53% 54.31% at 96.53% 10.16%, #BCEAFF 0%, #EFE4FF 100%);
    transition: 0.5s;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-close{
    font-size: 30px;
    left: auto;
    right: 20px;
    top: 10px;
}

#modal-close:hover{
    cursor:pointer;
}

#exp-left{
    text-align:right;
}

#clustrmaps{
    display:none;
}

@media only screen and (min-width: 768px) {
    html,body{
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {

    nav .container,
    .main-content .container{
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {

    .modal-left-content{
        padding: 0 15px 0 15px;
    }

    .modal-content-mobile{
        display: block;
    }
    .modal-right-panel{
        display: none;
    }

    .modal-body > .container{
        padding: 10px;
    }

    .col-lg-12 .modal-display video{
        width: 100%;
    }

    #project-3-modal .modal-display {
        padding: 30px 5px 0 5px;
    }
}

@media only screen and (max-width: 576px) {
    #modal-close{
        font-size: 20px;
        right: 10px;
        top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    html,body{
        font-size: 16px;
    }

    .main-content{
        padding: 10px;
    }

    .main-content > div{
        padding: 20px 10px 20px 10px;
    }

    .main-content h2 {
        padding-bottom: 10px;
    }

    #exp-left, #exp-right{
        text-align:center;
    }

    .detail-block{
        position: relative;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 0 0 0;
    }

    #projects .row > div{
        padding: 10px;
    }

    .modal-body{
        padding: 0px;
    }

    .modal-right-panel{
        display: none;
    }

    .modal-center-content{
        padding: 0px 0px 20px 0px;
    }

    .footer{
        margin-top: 10px;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        border: none;
        box-shadow: none;
        line-height: 60px;
        padding: 0;
    }

    .navbar-collapse{
        background-image: url('../imgs/home/nav.png');
        background-position: bottom;
        box-sizing: border-box;
        box-shadow: 0px 8px 12px rgba(26, 35, 126, 0.2);
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 8px;
        padding: 0 10px 0 10px;
    }



}